<!-- voter_analytics/templats/voter_analytics/graphs.html -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<h2>Graphs</h2>

<div class="form-container">
    <h3>Search Form</h3><br>

    <div></div>
    
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
        <button><a href="{% url 'graphs' %}">Reset Search</a></button>
    </form>
</div>

<!-- <div class="graph-container">
    {{ birth_year_chart|safe }}
</div>

<div class="graph-container">

    {{party_pie_chart|safe}}
</div>

<div class="graph-container">
    {{election_chart|safe}}
</div> -->


{% endblock %}