<!-- project/templates/project/base.html 
This is base page from which all other pages will inherit.
-->

{% load static %}
<html>
    <head>
        <title>Base.html</title>
        <link rel="stylesheet" href="{% static 'stylesproject.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_matches' %}">Matches</a></li>
                    <li><a href="{% url 'show_all_teams' %}">Teams</a></li>
                    {% if user.is_authenticated %}
                        <!-- Logged in user: {{request.user}} -->
                        
                        {% if request.user.profile %}
                            <li><a href="">My Profile</a></li>
                        {% endif %}
                        <li>
                            <form method="POST" action="{% url 'project_logout' %}">
                                {% csrf_token %}
                                <button type="submit" id="logout-button">Logout</button>
                            </form>
                        </li>
                        
                    {% else %}
                        <li><a href="{% url 'project_login' %}">Login/Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>

            {% block content %}
            <!-- content here -->
            {% endblock %}

        </main>

    </body>
</html>