<!-- project/templates/project/base.html 
This is base page from which all other pages will inherit.
-->

{% load static %}
<html>
    <head>
        <title>Base.html</title>
        <link rel="stylesheet" href="{% static 'stylesproject.css' %}">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'show_all_matches' %}">Matches</a></li>
                    <li><a href="{% url 'show_all_teams' %}">Teams</a></li>
                    {% if user.is_authenticated %}
                        <!-- Logged in user: {{request.user}} -->
                        <li><a href="{% url 'inbox' %}">Inbox</a></li>
                        
                        {% if request.user.player %}
                            <!-- If player currently has a team show the link to team page of the player  -->
                            {% if request.user.player.get_current_team %}
                                <li><a href="{% url 'show_team' request.user.player.get_current_team.pk %}">My Team</a></li>
                            {% endif %}
                            <!-- Link to player's profile page -->
                            <li><a href="{% url 'show_player' request.user.player.pk %}">My Profile</a></li>
                            
                        {% elif request.user.manager %}
                            <!-- If manager has a team show the link to team page of the player  -->
                            {% if request.user.manager.get_team %}
                                <li><a href="{% url 'show_team' request.user.manager.get_team.pk %}">My Team</a></li>
                            {% endif %}
                            <!-- Link to manager's profile page -->
                            <li><a href="{% url 'show_manager' request.user.manager.pk %}">My Profile</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'project_login' %}" id="login-button">Login/Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>

            {% block content %}
            <!-- content here -->
            {% endblock %}

        </main>

        <footer>
            <div>
                <p>All Rights Reserved By Sena Bayram <a href="">Credits</a>&copy;</p>
            </div>
        </footer>

    </body>
</html>