<!-- project/templates/project/create_player_form.html -->

<!-- Caution: Your password must not be similar to your first name, last name, 
    or other personal information. The site will reject such passwords. -->
    
{% extends 'project/base.html' %}

{% block content %}
<div class="create-player-container">

    <!-- creating player account -->
    <h2>Create a Player Account</h2>

    <form method="POST" enctype="multipart/form-data" class="create-player-form">
        <!-- CSRF token for security -->
        {% csrf_token %}

        <!-- Player object creation form -->
        <div class="form-section">
            {{ form.as_p }}
        </div>

        <!-- User creation form -->
        <div class="form-section">
            {{ user_creation_form.as_table }}
        </div>

        <button type="submit" class="create-player-button">Create Player</button>
    </form>
</div>
{% endblock %}


