<!-- project/templates/project/create_manager_form.html -->
{% extends 'project/base.html' %}

{% block content %}
<div class="create-manager-container">
    <h2>Create a Manager Account</h2>
    <form method="POST" class="create-manager-form">
        {% csrf_token %}
        
        <div class="form-section">
            {{ form.as_p }}
        </div>

        <div class="form-section">
            {{ user_creation_form.as_table }}
        </div>
        <br>

        <h3>Register Your Team</h3>
        <div class="form-section">
            {{create_team_form.as_p}}
        </div>
        
        <button type="submit" class="create-manager-button">Register Manager</button>
    </form>
</div>
{% endblock %}