<!-- project/templats/project/show_all_matches.html -->
{% extends 'project/base.html' %}

{% block content %}

<table class="teams-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for team_data in teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'show_team' team_data.team.pk %}">{{ team_data.team.name }}</a></td>
            <td>{{ team_data.games_played }}</td>
            <td>{{ team_data.wins }}</td>
            <td>{{ team_data.losses }}</td>
            <td>{{ team_data.draws }}</td>
            <td>{{ team_data.points }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No teams available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
