<!-- project/templats/project/show_team_page.html -->
{% extends 'project/base.html' %}

{% block content %}
<div class="team-container">
    
    <div class="request-button-container">
        <!-- Add Match Request Button -->
        {% if user.is_authenticated and user.manager and user.manager != team.manager %}
            <buton><a href="{% url 'match_request' team.pk %}" class="request-button">Request a Match</a></buton>
        {% endif %}
    </div>
    <div class="team-header">
        <h2>{{ team.name }}</h2>
        <p><strong>Location:</strong> {{ team.city }}/{{ team.country }}</p>
        <p><strong>Head Coach:</strong> <a href="{% url 'show_manager' team.manager.pk %}">{{ team.manager.first_name }} {{ team.manager.last_name }}</a></p>
    </div>

    <div class="team-players">
        <h3>Players</h3>
        <ul>
            {% for player in team.get_current_players %}
            <li>
                <a href="{% url 'show_player' player.pk %}">
                    {{ player.first_name }} {{ player.last_name }}
                </a> - {{ player.position }}
            </li>
            {% empty %}
            <p>No players are currently part of this team.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="team-matches-table">
        <table class="teams-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Score</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for match in team.get_played_matches%}
                <tr>
                    <td><a href="{% url 'show_team' match.home_team.pk %}">{{ match.home_team }}</a> vs <a href="{% url 'show_team' match.away_team.pk %}">{{ match.away_team }}</a></td>
                    <td>{{ match.home_score }} - {{ match.away_score }}</td>
                    <!-- <td>{{ team.manager.first_name }} {{ team.manager.last_name }}</td> -->
                </tr>

                {% empty %}
                    <p>No match history</p>
                {% endfor %}
            </tbody>
        </table>
        

        
    </div>

    <a href="{% url 'show_all_teams' %}" class="back-button">Back to All Teams</a>
</div>
{% endblock %}

