<!-- mini_fb/templats/mini_fb/create_profile_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Create a New Profile</h2>
<form method="post">
    {% csrf_token %}

    <!-- display the form (context variable) -->
    <!-- {{form}} -->

    <!-- display as table -->
    <!-- {{form.as_table}} -->

    <!-- Display fields from the CreateProfileForm -->
    <h3>Profile Information</h3>
    {{ form.as_p }}

    <!-- Display fields from the UserCreationForm -->
    <h4>Registration</h4>
    {{ user_creation_form.as_table }}
    
    <button type="submit">Create Profile</button>
</form>

{% endblock %}