<!-- mini_fb/templats/mini_fb/delete_status_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Delete Status Message</h2>

<p>{{ status.timestamp }} - {{ status.message }}</p>

<p>Are you sure you want to delete this status message?</p>

<!-- Form to confirm deletion -->
<form method="post">
    {% csrf_token %}
    <button type="submit">Yes</button>
</form>

<!-- Form to cancel and go back to the profile page -->
<form action="{% url 'show_profile' status.profile.pk %}">
    <button type="submit">No</button>
</form>

{% endblock %}
