<!-- mini_fb/templats/mini_fb/profile/<int:pk>/friend_suggestions.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h3>People {{ profile.first_name }} may know:</h3>

<div class="friend-suggestions-container">
    {% for suggestion in friend_suggestions %}
        <div class="friend-suggestion-card">
            {% if suggestion.image_url %}
                <img src="{{ suggestion.image_url }}" alt="{{ suggestion.first_name }} profile image" width="100">
            {% else %}
                <p>No Image Available</p>
            {% endif %}
            <p><strong>{{ suggestion.first_name }} {{ suggestion.last_name }}</strong></p>
            <a href="{% url 'add_friend' suggestion.pk %}">Add Friend</a>
        </div>
    {% endfor %}
</div>

<a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
{% endblock %}
