<!-- templates/mini_fb/news_feed.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>News Feed</h2>

<div class="news-feed">
    {% for message in news_feed %}
        <div class="news-feed-profile">
            <img src="{{ message.profile.image_url }}" alt="{{ message.profile.first_name }}'s image">
            <p><strong>{{ message.profile.first_name }} {{ message.profile.last_name }} <small class="status-date">{{ message.timestamp }}</small></strong></p>
        </div>

        <div class="news-feed-status-message">
            <p>{{ message.message }} </p>
            {% if message.get_images %}
                {% for img in message.get_images %}
                    <img src="{{ img.image_file.url }}" alt="Status Image">
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<a href="{% url 'show_profile' profile.pk %}" class="back-to-profile-link">Back to Profile</a>

{% endblock %}
