<!-- mini_fb/templats/mini_fb/show_profile_page.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<div class="profile-main-container">

    <div class="profile-image">
        {% if profile.image_url %}
        <img src="{{ profile.image_url }}" alt="Profile Image" width="300">
        {% else %}
            <p>No profile image available.</p>
        {% endif %}
    </div>
    <div class="profile-info">
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <br>
        <a href="{% url 'update_profile' profile.pk %}" class="update-profile-link">Update Profile</a>
    </div>

</div>

<div class="friends-section-container">
    <h4>Friends</h4>
    <br>
    <div class="friends-list">
        {% if profile.get_friends %}
        <ul>
            {% for friend in profile.get_friends %}
            <li>
                {% if profile.image_url %}
                <img src="{{ friend.image_url }}" alt="Friend Image" width="300">
                {%endif%}
                <br>
                <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>This user has no friends yet.</p>
        {% endif %}
    </div>
</div>

<div class="status-messages">
    {%if profile.get_status_messages%}
    
    <div class="status-title">
        <h4>Status Messages</h4>
        <!-- Link to the create status message page -->
        <small><a href="{% url 'create_status' profile.pk %}">Add a new status</a></small>
    </div>
    <ul>
        {% for m in profile.get_status_messages %}
            <li>
                <p>{{ m.message }} <small class="status-date">{{ m.timestamp }}</small></p>
                
                <!-- Getting all images of the status message -->
                
                {% for img in m.get_images %}
                    {% if img.image_file %}
                        <img class="friend-image" src="{{ img.image_file.url }}" alt="Status Image" width="200">
                    {% endif %}
                {% endfor %}
                
                <!-- Linka to delete and update status message -->
                <div class="status-actions">
                    <a href="{% url 'delete_status' m.pk %}" class="delete-link">Delete</a>
                    <a href="{% url 'update_status' m.pk %}" class="update-link">Update</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No status messages available.</p>
    {%endif%}

    
</div>


{% endblock %}