<!-- mini_fb/templats/mini_fb/show_profile_page.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
<p><strong>City:</strong> {{ profile.city }}</p>
<p><strong>Email:</strong> {{ profile.email }}</p>
<a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
<br>

{% if profile.image_url %}
    <img src="{{ profile.image_url }}" alt="Profile Image" width="300">
{% else %}
    <p>No profile image available.</p>
{% endif %}

<div>
    {%if profile.get_status_messages%}
    <h4>Status Messages</h4>
    <ul>
        {% for m in profile.get_status_messages %}
            <li>
                <p>{{ m.timestamp }} - {{ m.message }}</p>
                
                <!-- Getting all images of the status message -->
                
                {% for img in m.get_images %}
                    {% if img.image_file %}
                        <img src="{{ img.image_file.url }}" alt="Status Image" width="200">
                    {% endif %}
                {% endfor %}

            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No status messages available.</p>
    {%endif%}

    <!-- Link to the create status message page -->
    <a href="{% url 'create_status' profile.pk %}">Add a new status message</a>
</div>


{% endblock %}