<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
        <h1>Mustafa Kemal Atatürk (1881-1938)</h1>
        <br>
        <p>
            Mustafa Kemal Atatürk (1881-1938) was the founder of the Republic of Türkiye and its first President. 
            A visionary leader, Atatürk led the country through profound political, social, and cultural reforms, 
            transforming Türkiye into a modern, secular, and democratic nation-state. His legacy includes the establishment 
            of new legal and educational systems, the adoption of the Latin alphabet, and the promotion of women's rights. 
            Atatürk's principles, known as Kemalism, continue to influence Türkiye today, symbolizing progress, rationalism, 
            and national sovereignty.
        </p>

{% endblock %}