*
{
    margin:0;
    padding: 0;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    background-color:#faf8f8;
}

h1 a{
    text-decoration: none;
    color: #f9f9f9;
}

h2{
    color: #333333;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #333333; /* Dark gray for contrast */
}

/* BASE */

/* Header Styling */
header {
    background-color: #2e8b57; /* Sea Green for a cohesive look */
    color: #f9f9f9;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Title */
header h1 {
    font-size: 24px;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* VOTER_LIST */
.voter_list-title{
    color: #333333;
    text-align: center;
    padding: 10px;
}

.table-container {
    width: 80%; /* Set container to 80% of the page */
    display: flex;
    justify-content: center; 
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.voter-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/* Table Header Styling */
.voter-table th {
    background-color: #2e8b57;
    border: 1px solid #2e8b57;
    color: #f9f9f9;
    padding: 10px;
}

.voter-row {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.voter-table td, .voter-table th {
    padding: 20px;
}

.page-info{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    color:#333333;

}

.page-info a {
    text-decoration: none;
    color: #2e8b57; /* Match the theme */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* FORM CONTAINER */
.form-container {
    width: 80%; 
    margin: 20px auto; /* Center the container horizontally */
    background-color: #f9f9f9; /* Light background to distinguish form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.form-container form {
    display: flex;
    flex-direction: column; /* Stack form fields vertically */
    gap: 10px; /* Space between fields */
}







/* Voter Page */

.voter-info-container{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






/* Graphs Page */
.graph-container{
    width: 80%;
    margin: 30px auto; /* Center the chart horizontally */
    padding:5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}